<sync>
	<config>
		<!-- Minimum message size before triggering bulk query, in bytes -->
		<message_size_bulk_trigger>5000000</message_size_bulk_trigger>
		<!-- Time period for incremental updates, in seconds -->
		<incremental_offset>3600</incremental_offset>
		<!-- Full url to ES server, no trailing slash -->
		<esurl>https://localhost:9201</esurl>
		<esuser></esuser>
		<espwd></espwd>
		<!-- Should we validate SSL cert ? -->
		<validate_certificate>false</validate_certificate>
		<!-- How many docs do we fetch at a time from ES ? -->
		<fetch_size>100000</fetch_size>
		<logfile></logfile>
		<!-- 0 = DEBUG, 1 = INFO, 2 = WARNING, 3 = ERROR -->
		<loglevel>1</loglevel>
	</config>
	<!-- A list of instances (customers). The list
		 key is used as the ES index name -->
	<instances>
		<mooc1>
			<dbhost>localhost:27017</dbhost>
			<dbname>coorpacademy</dbname>
			<dbuser>coorpacademy</dbuser>
			<dbpwd>****</dbpwd>
			<dbreadpref>secondary</dbreadpref>
		</mooc1>
		<mooc2>
			<dbhost>localhost:27017</dbhost>
			<dbname>coorpacademy</dbname>
			<dbuser>coorpacademy</dbuser>
			<dbpwd>****</dbpwd>
			<dbreadpref>secondary</dbreadpref>
		</mooc2>
	</instances>
	<!-- A list of collections and fields to sync.
	     The key is the collection's name.
	     For incremental update, update_field is used
	     as a date reference to filter updated documents -->
	<collections>
		<users>
			<field>displayName</field>
			<field>stats.lastConnection</field>
			<field>coachDisciplines</field>
		</users>
		<disciplines>
			<update_field>meta.updatedAt</update_field>
			<field>name</field>
			<field>modules._id</field>
			<field>modules.level</field>
			<field>modules.name</field>
			<field>modules.chapters</field>
		</disciplines>
		<achievements>
			<update_field>meta.updatedAt</update_field>
			<field>discipline_id</field>
			<field>user_id</field>
			<field>modules._id</field>
			<field>modules.hasRequestAShot</field>
			<field>modules.state</field>
			<field>modules.status</field>
			<field>modules.timesCompleted</field>
		</achievements>
		<battles>
			<field>status</field>
			<field>discipline</field>
		</battles>
		<forums>
		</forums>
		<hypercomments>
		</hypercomments>
	</collections>
</sync>
